# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Distribution / Packaging
dist/
build/
*.spec

# Virtual Environment
venv/

# IDEs
.vscode/
.idea/

# Config (don't commit secrets)
src/config/user_config.json

# Data & Reports
data/
*.csv
*.html
*.xlsx
